@media screen and (orientation: portrait) {
    
    #app{
        position: absolute;
    }
    
    .legend_container {
        float: left;
        max-height: 220px;
        transform: none;
    }
    .svg_container{
        touch-action: none;
    }
}

@media screen and (orientation: landscape) {
    #app{
        position: absolute;
    }
    .legend_container {
        float: left;
        max-height: 220px;
        transform: none;
    }
    .svg_container{
        touch-action: none;
        max-width: 100px;
    }
}
